{% extends "base.html" %}
{% block title %}Manage Questions{% endblock %}
{% block content %}
<div class="content-section">
    <h2 id="white">Manage Questions</h2>
    <form method="POST" action="{{ url_for('add_quest', sub_id=sub_id, chap_id=chap_id, quiz_id=quiz_id) }}" class="form">
        <div class="form-group">
            <input type="text" id="statement" name="statement" placeholder="Question Statement" required style="width: 1110px;" autocomplete="off">
        </div>
        <div class="form-group">
            <div style="display:flex; gap: 10px;">
                <input type="text" name="options" placeholder="Option 1" required style="width: 550px;" autocomplete="off">
                <input type="text" name="options" placeholder="Option 2" required style="width: 550px;" autocomplete="off">
            </div>
        </div>
        <div class="form-group">
            <div style="display:flex; gap: 10px;">
                <input type="text" name="options" placeholder="Option 3" required style="width: 550px;" autocomplete="off">
                <input type="text" name="options" placeholder="Option 4" required style="width: 550px;" autocomplete="off">
            </div>
        </div>
        <div class="form-group">
            <input type="number" id="cor_opt" name="cor_opt" placeholder="Correct Option" min="1" max="4" required style="width: 550px;" autocomplete="off">
        </div>
        <button type="submit" class="btn btn-primary">Add Question</button>
    </form><br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Question id</th>
                <th>Statement</th>
                <th>Opt-1</th>
                <th>Opt-2</th>
                <th>Opt-3</th>
                <th>Opt-4</th>
                <th>Correct Opt</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
            {% if question.quiz_id == quiz_id %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.statement }}</td>
                <td>{{ question.opt1 }}</td>
                <td>{{ question.opt2 }}</td>
                <td>{{ question.opt3 }}</td>
                <td>{{ question.opt4 }}</td>
                <td>{{ question.cor_opt }}</td>
                <td>
                    <a href="{{ url_for('update_quest', sub_id=sub_id, chap_id=chap_id, quiz_id=quiz_id, ques_id=question.id) }}" class="btn btn-secondary">Edit</a>
                </td>
                <td>
                    <form action="{{ url_for('remove_quest', sub_id=sub_id, chap_id=chap_id, quiz_id=quiz_id, ques_id=question.id) }}" method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

