<!-- templates/admin/subjects.html -->
{% extends "base.html" %}
{% block title %}Manage Subjects{% endblock %}
{% block content %}
<div class="content-section">
    <h2 id="white">Manage Subjects</h2>
    <form method="POST" class="form">
        <div class="form-group">
            <label id="white" for="name">Subject Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label id="white" for="description">Remarks:</label>
            <textarea id="description" name="description" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add Subject</button>
    </form>

    <div class="subjects-list">
        <br><h4 id="white">Current Subjects</h4>

        {% for subject in subjects %}
        <div class="subject-card d-flex justify-content-between align-items-center">
            <h4>{{ subject.s_name }}</h4>
            <p>{{ subject.remarks }}</p>
            <div class="button-group">
                <a href="{{ url_for('update_sub', sub_id=subject.id) }}" class="btn btn-secondary">Edit</a>
                <form action="{{ url_for('delete_subject', sub_id=subject.id) }}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <a href="{{ url_for('add_chapter', sub_id=subject.id) }}" class="btn btn-primary">Manage</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}