{% extends "base.html" %}
{% block title %}Quiz Details{% endblock %}
{% block content %}
<div class="content-section">
    <h2 id="white">Quiz Details</h2>
    <div class="quiz-card d-flex flex-column  p-3 border" style="height: 350px;">
        <div>
            <h4>Subject : {{ quiz.chapter.course.s_name }}</h4><br>
            <h6>Chapter : {{ quiz.chapter.name }}</h6><br>
            <p>Quiz Name : {{ quiz.q_name }}</p>
            <p>No. of Questions : {{ quiz.questions|length }}</p>
            <p>Duration : {{ quiz.time_duration }}</p>
            <p>Date : {{ quiz.date_of_quiz }}</p>
        </div>
        <div style="display: flex; gap: 10px;">
            <a href="{{ url_for('start_Assessment', quiz_id=quiz.id) }}" class="btn btn-primary" style="width: 150px;">Start</a>
        </div>
    </div>
</div>
{% endblock %}
