<!-- templates/user/quiz.html -->
{% extends "base.html" %}
{% block title %}Take Quiz{% endblock %}
{% block content %}
<div class="quiz-container">
    <div style="display: flex; justify-content: space-between;">
        <h4 id="white">{{ quiz.chapter.course.s_name }} - {{ quiz.chapter.name }}- {{quiz.q_name}}</h4>
        <h6 id="white">Duration: {{ quiz.time_duration }}</h6>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <h6 id="white">Chapter: {{ quiz.chapter.name }}</h6>
        <h6 id="white">Deadline : {{ quiz.date_of_quiz }}</h6>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <h6 id="white">Subject:{{ quiz.chapter.course.s_name }}</h6>
        <h6 id="white">No. of Questions: {{ quiz.questions|length }}</h6>
    </div>
    
    <form method="POST" action="{{ url_for('start_Assessment', quiz_id=quiz.id) }}" class="quiz-form">
        {% for question in quiz.questions %}
        <div class="question-card">
            <p class="question">{{ loop.index }}. {{ question.statement }}</p>
            <div class="options">
                <div class="option">
                    <input type="radio" name="{{ question.id }}" value="1" required>
                    <label>{{ question.opt1 }}</label>
                </div>
                <div class="option">
                    <input type="radio" name="{{ question.id }}" value="2">
                    <label>{{ question.opt2 }}</label>
                </div>
                <div class="option">
                    <input type="radio" name="{{ question.id }}" value="3">
                    <label>{{ question.opt3 }}</label>
                </div>
                <div class="option">
                    <input type="radio" name="{{ question.id }}" value="4">
                    <label>{{ question.opt4 }}</label>
                </div>
            </div>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit Quiz</button>
    </form>
</div>
{% endblock %}

