{% extends "base.html" %}
{% block title %}Available Quizzes{% endblock %}
{% block content %}
<div class="content-section">
    <h2 id="white">Available Quizzes in {{ chapter.name }}</h2>
    <div class="container">
        <div class="row">
            {% for quiz in quizzes %}
            <div class="col-md-4">
                <div class="quiz-card d-flex flex-column" style="height: 250px;">
                    <div>
                        <!-- <h4>Subject: {{ quiz.chapter.course.s_name }}</h4> -->
                        <h6>Quiz Name: {{ quiz.q_name }}</h6>
                        <p>Date: {{ quiz.date_of_quiz }}</p>
                        <p>Duration: {{ quiz.time_duration }}</p>
                        <p>No. of Questions: {{ quiz.questions|length }}</p>
                    </div>
                    <div style="display: flex; gap: 10px; margin-top: auto;">
                        <a href="{{ url_for('quiz_info', quiz_id=quiz.id) }}" class="btn btn-primary" style="width: 150px;">View</a>
                        <a href="{{ url_for('start_Assessment', quiz_id=quiz.id) }}" class="btn btn-danger" style="width: 150px;">Start</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

